body {
    background: linear-gradient(
        rgba(0, 12, 30, 0.5), 
        rgba(0, 12, 30, 0.50)
      ),
      url(../resources/background/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.bodyContent {
    background: linear-gradient(
        rgba(0, 12, 30, 0), 
        rgba(0, 12, 30, 0)
      );
}

#aboutMenuCover,
#workMenuCover,
#internMenuCover,
#projectMenuCover,
#achievementMenuCover,
#communityMenuCover {
    background: linear-gradient(
        rgba(68, 0, 68, 0.5), 
        rgba(68, 0, 68, 0.50)
      );
      background-size: 0%;
      padding-top: 10%;
      transition-delay: 100ms;
}

#aboutMenu,
#workMenu,
#internMenu,
#projectMenu,
#achievementMenu,
#communityMenu {
    color: white;
    /* font-family: 'Acme', sans-serif; */
    font-family: 'VT323', monospace;
    font-size: 34px;
    text-align: center;
    cursor: pointer;
}

#aboutMenu :hover,
#workMenu :hover,
#internMenu :hover,
#projectMenu :hover,
#achievementMenu :hover,
#communityMenu :hover {
    color: #00e5ff;
    font-size: 40px;
}

#content {
    color: white;
    /* font-family: 'Acme', sans-serif; */
    /* font-family: 'Bree Serif', serif; */
    font-family: 'Bellota', cursive;
    font-size: 20px;
    padding-top: 10%;
}

#subHeading {
    background: linear-gradient(
        to right,
        rgba(70, 0, 70, 0.5), 
        rgba(0, 12, 30, 0.5)
      );
      font-family: 'Comfortaa', cursive;
      /* font-family: 'Bellota', cursive; */
      /* font-family: 'Righteous', cursive; */
      /* font-family: 'Poiret One', cursive; */
      /* font-family: 'Alice', serif; */
      /* font-family: 'Shrikhand', cursive; */
    padding-top: 2%;
}

#baseSummary {
    padding-top: 33%;
    text-align: end;
    color: #e91e63;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Dancing Script', cursive;
/* font-family: 'Satisfy', cursive; */
}

#myImage {
    height: 100%;
    width: 100%;
}

#communityMenu {
    padding-bottom: 40%;
}

#googleCrowdsource,
#fossology,
#hp {
    font-size: 20px;
    text-align: left;
}

#workFOSSology {
    padding-top: 2%;
}

#contactMeComponent {
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

#contactMeContent {
    background: linear-gradient(
        rgba(68, 0, 68, 0.5), 
        rgba(68, 0, 68, 0.50)
      );
    padding-bottom: 5%;
    padding-top: 5%;
}

#contactMeContentHead {
    font-family: 'VT323', monospace;
    font-size: 28px;
    text-align: right;
    color: #e65100;
}

#contactMeContentBody {
    font-size: 24px;
    text-align: left;
    font-family: 'Bree Serif', serif;
}