body {
    background: linear-gradient(
        rgba(0, 12, 30, 0.50), 
        rgba(0, 12, 30, 0.50)
      ),
      url(../resources/background/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#menu {
    background: linear-gradient(
        rgba(68, 0, 68, 0.5), 
        rgba(68, 0, 68, 0.50)
      );
      background-size: 0%;
      padding-top: 10%;
      transition-delay: 100ms;
}

#menuName {
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    text-align: center;
}

#aboutMenu {
    padding-bottom: 70%;
}

#content {
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    padding-top: 10%;
}

#baseSummary {
    padding-top: 45%;
    padding-left: 60%;
    color: #e91e63;
    font-size: 35px;
    font-family: 'Bellota', cursive;
}

#myImage {
    height: 100%;
    width: 100%;
}

#internContent {
    padding-top: 5%;

    padding-bottom: 40%;
}