#feedbackCard {
    padding-top: 5%;
    padding-bottom: 10%;
}

#formWindow,
#thankYouWindow {
    background: linear-gradient(
        rgba(68, 0, 68, 0.5), 
        rgba(68, 0, 68, 0.50)
      );
    padding-top: 5%;
    padding-bottom: 4%;
    border: 1px solid rgba(68, 0, 68, 0.50);
}

#commentBoxHead {
    color: white;
    font-size: 28px;
    font-family: 'VT323', monospace;
    color: #e65100;
}

#contentBox {
    height: 150%;
    width: 100%;
    font-family: 'Bellota', cursive;
}

#buttonCover {
    padding-top: 15%;
    font-family: 'Bellota', cursive;
}

#thankYouWindow {
    color: #e65100;
    font-size: 200%;
    text-align: center;
}

#errorMessage {
    color: #e65100;
    font-size: 24px;
}