/* 

font-family: 'Pacifico', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Bellota', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Courgette', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Lobster', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Righteous', cursive;
font-family: 'Alfa Slab One', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Cookie', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Alice', serif;
font-family: 'Tangerine', cursive;
font-family: 'Rochester', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Playball', cursive;
font-family: 'Damion', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'VT323', monospace;
*/

@import url('https://fonts.googleapis.com/css?family=Acme|Alfa+Slab+One|Alice|Audiowide|Bellota|Bree+Serif|Comfortaa|Cookie|Courgette|Damion|Dancing+Script|Great+Vibes|Kaushan+Script|Lobster|Lobster+Two|Oleo+Script|Pacifico|Parisienne|Playball|Poiret+One|Press+Start+2P|Righteous|Rochester|Satisfy|Shrikhand|Tangerine|VT323&display=swap');