.links {
    cursor: pointer;
    color: #e65100;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    text-align: center;
}

.links:hover {
    color: #69f0ae;
}

#multipleProject {
    padding-top: 2%;
}

h3 {
    font-size: 28px;
}

p, ul {
    text-align: justify;
    font-size: 20px;
}

#phoneNumber {
    font-size: 24px;
}

#backToMain {
    padding-top: 18%;
    text-align: center;
}

#backToMain :hover {
    width: 20%;
}