.links {
    cursor: pointer;
    color: #e65100;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    text-align: center;
}

.links:hover {
    color: #69f0ae;
}

#multipleProject {
    padding-top: 2%;
}

h3 {
    font-size: 28px;
}

p, ul {
    text-align: justify;
    font-size: 20px;
}

#phoneNumber {
    font-size: 24px;
    /* font-family: 'Bree Serif', serif; */
    font-family: 'Bellota', cursive;
}

#backToMainCover {
    background-color: #e65100;
    cursor: pointer;
}

#backToMainCover:hover {
    background-color: #69f0ae;
}


#backToMain {
    /* position: relative;
    top: 45%; */
    padding-top: 25%;
    padding-bottom: 25%;
    text-align: center;
}

#closeToMain {
    background-color: #e65100;
    padding-top: 1%;
    cursor: pointer;
    text-align: center;
}

#closeToMain:hover {
    background-color: #69f0ae;
}

#submitbutton {
    background-color: #ffab00;
    color: white;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

#submitbutton:hover {
    background-color: #ff6d00;
}