#head {
    width: 102%;
    background-color: black;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

#aboutMe,
#resume,
#contactMe,
#readingLens,
#feedback {
    color: white;
    font-family: 'VT323', monospace;
    cursor: pointer;
    font-size: 30px;
}

#aboutMe:hover,
#resume:hover,
#contactMe:hover,
#readingLens:hover,
#feedback:hover {
    color: #90caf9;
}

#readingLensComponent {
    padding-top: 2%;
}