#head {
    width: 100%;
    background-color: black;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

#aboutMe,
#resume,
#contactMe {
    color: white;
    font-family: 'VT323', monospace;
    cursor: pointer;
    font-size: 30px;
}

#aboutMe:hover,
#resume:hover,
#contactMe:hover {
    color: #90caf9;
}