body {
    background-color: white;
}

#head {
    /* border-bottom: 1px solid black; */
    box-shadow: 0px 1px #888888;
    padding: 1% 5% 1% 5%;
}

#userName {
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    padding-left: 5%;
}

button {
    background-color: #232f34;
    border: 1px solid;
    border-radius: 5px;
    color: white;
    padding: 5% 20% 5% 20%;
}

button:hover {
    background-color: black;
}

#slogan {
    background-color: black;
    padding: 1% 1% 1% 1%;
    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

#loginBody {
    padding-top: 10%;
}

#loginContent {
    background: linear-gradient(
        to Right,
        rgba(0, 229, 255, 1), 
        rgba(0, 229, 255, 1)
      );
      padding-bottom: 5%;
}

#backToMain {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #e65100;
}

#backToMain:hover {
    background-color: #69f0ae;
    cursor: pointer;
}

#bodyContent {
    padding: 1% 1% 1% 1%;
}



.jobTicket  {
    padding: 1% 1% 1% 1%;
    font-family: 'Bree Serif', serif;
}

.jobTicketCard {
    background-color: #2196f3 ;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

/*.jobTicketCard:hover {
    background-color: #00e5ff;
}
*/

.frameTitle {
   
    font-weight: 300;
}

.menuTicket {
    background-color: #263238;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    font-family: 'Bree Serif', serif;
    font-size: 16px;
    margin-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    width: 40%;
  
}

.menu {
    background-color: #455a64;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    font-family: 'Bree Serif', serif;
    font-size: 16px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.menuData {
    background-color: #baffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    font-family: 'Bree Serif', serif;
    font-size: 18px;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 50%;
    
}
.detail{
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.detailsTitle {
    color: #002171;
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 2%;
    margin-left: 1%;
}


#editDetailsButton {
    padding: 2% 20% 2% 20%;
}

.detailsRow {
    display: none;
}

.part {
    padding: 1% 1% 1% 1%;
}
.logWorkBtn{
    width: 30%;
}
.headBtn{
    width: 49%;
}
.editButton{
    width: 50%;
    padding-bottom: 2%;
}

.desBox {
    border: 0.5px solid grey;
    padding: 1% 1% 1% 1%;
    border-radius: 5px;
    margin-left: 1%;
}

.loadingPage {
    text-align: center;
}

#createNewTask {
    padding: 5% 1% 1% 1%;
}

#createNewTaskForm {
    background: linear-gradient(
        to Right,
        rgba(0, 229, 255, 1), 
        rgba(0, 229, 255, 1)
      );
    border-radius: 5px;
}

#backToMainFromCreateNewTask,
#backToMainFromLogWork {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #e65100;
    text-align: center;
}

#backToMainFromCreateNewTask:hover,
#backToMainFromLogWork:hover {
    background-color: #69f0ae;
    cursor: pointer;
}

.formComponent {
    padding: 2% 2% 2% 2%;
}

#titleCreateNewTask,
#desCreateNewTask {
    width: 100%;
    height: 100%;
}

#createNewTaskSubmit {
    text-align: end;
}

#submitNewTask {
    padding: 5% 10% 5% 10%;
}

.logWorkForm {
    padding: 5% 1% 1% 1%;
}

.logWorkFormComponent {
    background: linear-gradient(
        to Right,
        rgba(0, 229, 255, 1), 
        rgba(0, 229, 255, 1)
      );
}

#workComment {
    width: 100%;
    height: 100%;
}

#completedSuccussfully {
    padding-top: 10%;
    text-align: center;
}

#errorMessage {
    color: red;
}


